#experiencemap img {
    max-width: 20vw;
}

#pic_postit {
    /*transform: rotate(-90deg);*/
}

#storyboard img {
    max-width: 50vw;
}


#main_featuresfunktionaliteter {
    line-height: 3vw;
}

#bmc_pic {
    width: 70vw;
}

#prototype_pic {
    width: 70vw;
}

#keaapp img {
    max-width: 20vw;
}
